<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    <span class="linebreak">Reno born.</span>
                    <span class="linebreak">Bend living.</span>
                    <span class="linebreak">Austin working.</span>
                </h2>
                <hr class="light">
                <p class="text-faded">
                  I'm currently an Orgnaizer for <a href="https://ruby.onales.com/">Ruby on Ales</a> and happily employeed as a Backend Ruby Engineer at <a href="https://www.everlywell.com/">EverlyWell</a>. When I'm not working, I like spending time with my wonderful fiancé and our puppies, playing video games, tinkering with technology, or cooking.
                </p>
            </div>
        </div>
    </div>
</section>
