<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hi, I'm Colto</h2>
                <hr class="light">
                <p class="text-faded">Born in Reno. Fell in love in Bend. Living in Portland. I'm a Ruby on Rails Engineer. I've been a brogrammer for 5+ years now. I enjoy video games, drinking scotch, binge watching seasons on Netflix, seeing how many grapes I can fit in my mouth, pickling fruits &amp; veggies, and exploring around Oregon. Also, bowling isn't terrible.</p>
            </div>
        </div>
    </div>
</section>
